@import url(https://fonts.googleapis.com/css?family=Rochester);
@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(https://fonts.googleapis.com/css?family=Neuton:300);
body {background-color: MintCream;}
h1 {font-family: 'Rochester', cursive; font-size: 44px;}
p {font-family: 'Neuton', serif; font-size: 16px;}
ul {font-family: Cambria;}
#slogan {font-style: italic;
}
#name {font-family: 'Pathway Gothic One', sans-serif;}
#list {font-family: 'Pathway Gothic One', sans-serif;}
